@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header
{
    width: 100vw;
    height: 100vh;
    background-image: url("../Images/yog21.jpg");
  

    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content
{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}


.header-content h2{
    font-size: 4vmin;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;

}
.ctn{
    padding: 8px 15px;
    background: crimson;
    border-radius: 30px;
}
.line
{
    width: 150px;
    height: 4px;
    background: crimson ;
    margin: 10px auto;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: whitesmoke;
}

.navbar
{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;

}

.nav-links
{
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 0 30px;

}

ul{
    list-style: none;
}

.active
{
    color: crimson;
    text-decoration: underline;
    font-weight: bold;
}


.menu-button{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
 
}

.logo
{
    position: relative;
    top:10px;
    left: 10px;
    width: 100px;

}

.hide
{
    display: none;
}

section{
    width: 80%;
    margin: 80px auto;

}

.title
{
    text-align: center;
    font-size: 4vmin;
    color: chocolate;

}


.row
{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
   margin: 3px;
}


.row .col img{
    width:  90% ;
    margin: 10px;
  
    
   
    
}

.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    padding: 10px;
   width: 330px;
   height: 400px;
    margin: 10px;
    position: relative;
    border-radius: 20px;
    
   
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.events .row{
    margin-top: 50px;
}

h4{
    font-size: 3vmin;
    color: grey;
    margin: 20px auto;


}


.col p{
    margin: 10px auto;
    text-align: center;
}

.row .ctn
{
   
    align-items: center;
    justify-content: center;
    
    position: relative;
    margin-top: 30px;
}

.row .col:hover
{
    box-shadow: rgba(52, 33, 158, 0.35) 0px 10px 25px;
   
}

body , html{
    overflow-x: hidden;
}



.Reviews
{
    width: 100%;
    height: 60vh;

    background-image: url("../Images/bac2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
  
    display: flex;
    
}

.reviewcontent
{
  
    width: 60%;
   padding: 30px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.reviewcontent h1{
    font-size: 7vmin;
    margin: 10px;

}

.reviewcontent p{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.reviewcontent .ctn{
  margin-top: 30px;

}

.reviewcontent .line
{
    margin-bottom: 50px;
    background-color: rebeccapurple;
}

.reviewcontent
{
    background-color: rgba(95, 95, 95, 0.35);
    margin: 10px;
    border-radius: 1cm;
}
/*For mobile resposniev
1024 x 576*/


@media only screen and (max-width:850px)
{

    .menu-button
    {
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo
    {
        position: absolute;
        top: 30px;
        left: 10%;
        width: 50px;

    }

    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(116, 54, 13);
        margin-top: -900px;
        transition: all 0.5s ease ;
    }

       .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(116, 54, 13);
        margin-top: -900px;
        transition: all 0.5s ease ;
    }
/*Hidden in desktop view*/
    .mobile-menu
    {
        margin-top: 0px;
        border-radius: 2cm;
    }

    .nav-links li{
        margin: 30px auto;
    }
    .row 
    {

        align-items: center;
        flex-direction: column;
        margin: -20px;

    }

    .row .col
    {
        margin: 20px auto;
    }

    .col img{
        max-width: 90%;
    }
}


img{
    transition: transform .3s ease;
}

img:hover
{
    transform: scale(1.09);
}

.ctn:hover
{
   background: none;
   color: black;
   border-style: solid;
   border-width: 1px ;
   font-weight: bold;
}


.footer
{
 
    left: 0;
    bottom: 0;

margin-bottom: 0;   
 width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}


.con
{
    margin: 5px;
    margin-left: 5px;
}
.call
{ width: 30px;
height: 30px; }

.whatsapp
{ width: 30px;
height: 30px; }

.Email
{ width: 30px;
height: 30px; }

.contact
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 80vmin;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.contactcontent
{
    text-align: center;
    margin: 20px;
}

.contactcontent .ctn{
    display: flex;
    width: 80px;
    margin: 10px;
    text-align: center;
    align-items: center;
    

}

input{
    margin: 5px;
    padding: 6px;
    border-radius: 10px;
}

